.vn-top-wrap.top-wrap-cities {
    padding: 105px 0 114px 0;
    margin-bottom: 36px;
    .title-small {
        width: 50%;
        font-weight: 600;
        font-size: 39px;
        line-height: 100%;
        margin-bottom: 19px;
    }
    .breadcrumbs {
        margin-bottom: 14px;
    }
}

.cities {
    padding: 0 0 0 0;
}

.user-message {
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    color: #23785B;
    border: 2px solid #61CE70;
    box-sizing: border-box;
    border-radius: 31px;
    padding: 20px 21px 21px 26px;
    margin-bottom: 44px;
}

.form-search-city {
    margin-bottom: 51px;
    .form-search-city__item {
        position: relative;
        width: 100%;
    }
    input {
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-align: left;
        color: #A6A6A6;
        padding-top: 22px;
        padding-bottom: 18px;
        padding-left: 54px;
        margin-bottom: 0;
    }
    button {
        display: block;
        width: 23px;
        height: 23px;
        background: url(../img/svg/search-ico.svg) no-repeat center;
        background-size: cover;
        border: none;
        padding: 0;
        position: absolute;
        top: 22px;
        left: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    button:hover {
        background: url(../img/svg/search-ico.svg) no-repeat center;
    }
}

.cities-list {
    // display: flex;
    // flex-direction: row;
    // justify-content: start;
    // flex-wrap: wrap;
    padding: 0 0 0 0;
}

.cities-word {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 14px;
}

.cities-list__item {
    // margin-right: 110px;
    max-width: 270px;
    width: 100%;
}

.cities-list__item:nth-child(4n) {
    margin-right: 0;
}

.cities-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 62px;
    a {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 290%;
        color: #000000;
        padding: 0 0 0 42px;
        background: url(../img/svg/city-ico.svg) no-repeat left center;
        margin-bottom: 0.8px;
    }
}

.popup-wrap {
    background: rgba(0, 0, 0, 0.64);
    display: block;
    opacity: 0;
    transition: opacity .5s, top .5s;
    overflow: auto;
    position: fixed;
    z-index: 999;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
}

.popup-buy {
    display: block;
    position: relative;
    background: #fff;
    max-width: 750px;
    margin: 100px auto;
    padding: 66px 85px 70px;
    visibility: hidden;
    transform: translateY(-800px);
    z-index: 99999;
    -webkit-transform: translateY(-800px);
    -moz-transform: translateY(-800px);
    -ms-transform: translateY(-800px);
    -o-transform: translateY(-800px);
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: .3s linear;
}

.popup-cities {
    display: block;
    position: relative;
    background: #fff;
    max-width: 1210px;
    margin: 100px auto;
    padding: 47px 57px 15px 66px;
    visibility: hidden;
    transform: translateY(-800px);
    z-index: 99999;
    -webkit-transform: translateY(-800px);
    -moz-transform: translateY(-800px);
    -ms-transform: translateY(-800px);
    -o-transform: translateY(-800px);
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: .3s linear;
}

.popup-active {
    visibility: visible;
    opacity: 1;
    outline: 0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.title-popup {
    font-weight: 500;
    font-size: 24px;
    line-height: 122%;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
}

.desc-popup {
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

.popup-buy {
    form {
        display: flex;
        flex-direction: column;
        max-width: 447px;
        width: 100%;
        margin: 0 auto;
        input {
            width: 100%;
            margin-bottom: 17px;
        }
        button {
            margin: 33px auto 0 auto;
        }
    }
}

.close-popup {
    background-color: #F2F2F2;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: url(../img/svg/close-ico.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -35px;
    right: 0;
}

.popup-cities {
    .title-popup {
        margin-bottom: 8px;
        text-align: left;
    }
    .desc-popup {
        text-align: left;
        margin-bottom: 54px;
    }
}

.popup-cities-item--name {
    font-weight: 500;
    font-size: 14px;
    line-height: 157.5%;
    color: #23785B;
    margin-bottom: 6px;
}

.popup-cities-item--adress {
    font-weight: 300;
    font-size: 14px;
    line-height: 157.5%;
    color: #181818;
}

.popup-cities-item--phones {
    a {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 157.5%;
        color: #181818;
    }
}

.popup-cities-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 38px;
    margin-bottom: 38px;
    border-bottom: 1px solid #D8D8D8;
}

.popup-cities-list:last-child {
    border: none;
}

.popup-cities-item {
    width: 25%;
    border-right: 1px solid #D8D8D8;
    min-height: 138px;
    padding-left: 35px;
    padding-right: 35px;
}

.popup-cities-item:nth-child(4n) {
    border: none;
}

.popup-cities-item:first-child {
    padding-left: 0;
}