.map {
    padding: 297px 0 280px 0;
    background: url(../img/map-bg.png) no-repeat center right;
    .title-middle {
        text-align: left;
        line-height: 110%;
        width: 67%;
        margin-bottom: 37px;
    }
}

.small-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: #23785B;
    margin-bottom: 12px;
}