.advantage {
    padding: 108px 0 100px 0;
    background: #F3F8F7;
}

.advantage-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .img-wrap {
        max-width: 360.54px;
        width: 100%;
        padding-bottom: 79.505%;
        margin: 0 67px 0 0;
    }
}

.advantage__left {
    display: flex;
    width: 47.45%;
    justify-content: flex-end;
}

.advantage__right {
    width: 100% - 47.45%;
    padding: 48px 0 25px 54px;
    border-left: 1px solid #D7D7D7;
}

.advantage-text {
    font-weight: 600;
    font-size: 39px;
    line-height: 120%;
    color: #23785B;
    img {
        display: inline-block;
        vertical-align: top;
        padding: 0 0 0 0;
    }
    span {
        margin-top: 6px;
        display: block;
        font-weight: 300;
        font-size: 23px;
        line-height: 120%;
        color: #23785B;
        margin-bottom: 24px;
    }
}

.advantage-note {
    border: 2px solid #61CE70;
    box-sizing: border-box;
    border-radius: 44px;
    font-weight: 600;
    font-size: 23px;
    line-height: 130%;
    color: #23785B;
    max-width: 491px;
    width: 100%;
    padding: 30px 31px 30px 39px;
    i {
        font-style: normal;
        font-weight: 300;
        color: #4EBC5D;
    }
}

@media screen and (max-width: 1250px) {
    .advantage-box {
        flex-direction: column;
    }
    .advantage__left {
        display: block;
        width: 100%;
        flex-shrink: 0;
    }
    .advantage-box .img-wrap {
        padding-bottom: 38.221%;
        height: 464px;
        margin: 0 auto;
    }
    .advantage__right {
        width: 100%;
        padding: 48px 25px 25px 25px;
        border: none;
        text-align: center;
    }
    .advantage-note {
        margin: 0 auto;
    }
    .advantage {
        padding: 50px 0 50px 0;
    }
}

@media screen and (max-width: 620px) {
    .advantage-text {
        font-weight: 600;
        font-size: 23px;
        line-height: 120%;
        img {
            width: 84px;
            vertical-align: middle;
            height: 24px;
        }
    }
    .advantage-note {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        padding: 24px 19px 26px 25px;
    }
}

@media screen and (max-width: 550px) {
    .advantage {
        padding: 52px 15px 72px 15px;
    }
    .advantage-box {
        position: relative;
    }
    .advantage-box .img-wrap {
        width: 109px;
        height: 141px;
        padding-bottom: 0;
        position: absolute;
        top: 73px;
        left: 0;
    }
    .advantage__right {
        padding: 0;
        text-align: left;
    }
    .advantage-text::after {
        content: '';
        display: table;
        clear: both;
    }
    .advantage-text span {
        width: 51%;
        float: right;
        padding-right: 4px;
        margin-top: 19px;
        line-height: 124%;
    }
    .advantage-note {
        max-width: 100%;
        width: 100%;
        border-radius: 36px;
        margin: 45px 0 0px 0;
        -webkit-border-radius: 36px;
        -moz-border-radius: 36px;
        -ms-border-radius: 36px;
        -o-border-radius: 36px;
    }
}

@media screen and (max-width: 375px) {
    .advantage-note {
        margin: 15px -9px 0px -9px;
        max-width: initial;
        width: initial;
    }
}

@media screen and (max-width: 345px) {
    .advantage-note {
        margin: 3px -9px 0px -9px;
    }
}