.bad-block {
    padding: 164px 0 269px 0;
    .title-middle {
        margin-bottom: 14px;
    }
}

.bad-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    max-width: 1304.6px;
    height: 668.46px;
    margin: 0 auto;
    padding: 40px 0 0 0;
    background: url(../img/decor.png) no-repeat center;
    background-size: cover;
}

.bad-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    padding: 30px 30px 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    span {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: #ffffff;
    }
}

.bad-item1 {
    width: 455px;
    height: 270px;
    margin: 0 14px 13px 303px;
}

.bad-item2 {
    width: 264px;
    height: 209px;
    margin: 13px 0 0 15px;
}

.bad-item3 {
    width: 291px;
    height: 200px;
    margin: 0 11px 13px 143px;
}

.bad-item4 {
    width: 300px;
    height: 332px;
    margin: 0 27px 0 15px;
}

.bad-item5 {
    width: 404px;
    height: 254px;
    margin: -35px 0 0 0;
}

.img-wrap {
    position: relative;
    width: 100%;
    max-width: 338px;
    height: 0;
    overflow: hidden;
}

.img-wrap>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bad-text {
    width: 100%;
    max-width: 794px;
    margin: 0 auto;
    span {
        display: inline-block;
        padding: 44px 0 0 0;
        font-weight: 300;
        font-size: 34px;
        line-height: 110%;
        color: #ff774c;
    }
    b {
        font-weight: 600;
    }
    .img-wrap {
        float: left;
        margin-right: 40px;
        padding-bottom: 35.77%;
    }
}

@media screen and (max-width: 1304px) {
    .bad-items {
        justify-content: center;
        align-items: center;
        height: auto;
        background-size: contain;
    }
    .bad-item1 {
        margin: 0 20px 15px 20px;
    }
    .bad-item2 {
        margin: 0 20px 15px 20px;
    }
    .bad-item3 {
        margin: 0 20px 15px 20px;
    }
    .bad-item4 {
        margin: 0 20px 15px 20px;
    }
    .bad-item5 {
        margin: 0 20px 15px 20px;
    }
    .bad-block {
        padding: 50px 0 155px 0;
    }
}

@media screen and (max-width: 992px) {
    .bad-block {
        padding: 50px 15px 50px 15px;
    }
    .bad-item1 {
        margin: 0 8px 15px 8px;
    }
    .bad-item2 {
        margin: 0 8px 15px 8px;
    }
    .bad-item3 {
        margin: 0 8px 15px 8px;
    }
    .bad-item4 {
        margin: 0 8px 15px 8px;
    }
    .bad-item5 {
        margin: 0 8px 15px 8px;
    }
    .bad-text span {
        font-size: 30px;
        padding: 55px 0 0 0;
    }
    .bad-text {
        max-width: 100%;
        margin-top: 15px;
        height: 284px;
    }
    .bad-text .img-wrap {
        padding-bottom: 29.523%;
        height: 284px;
    }
}

@media screen and (max-width: 760px) {
    .bad-text {
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .bad-text span {
        font-size: 20px;
        padding: 0 0 0 0;
    }
    .bad-text .img-wrap {
        height: 86px;
        max-width: 102px;
        padding-bottom: 11.523%;
    }
}

@media screen and (max-width: 620px) {
    .bad-items {
        height: 199px;
        position: relative;
        max-width: 311px;
        width: 100%;
        background: url(../img/bad-items-mob.png) no-repeat center;
        background-size: cover;
        padding: 0;
        div {
            display: none;
        }
    }
    .bad-items::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: url(../img/decor.png) no-repeat center;
        background-size: cover;
        z-index: -1;
    }
    .bad-block .title-middle {
        font-weight: 300;
        font-size: 23px;
        line-height: 107.5%;
        margin-bottom: 9px;
    }
    .bad-block .desc {
        font-weight: 500;
        font-size: 21px;
        line-height: 107.5%;
        margin-bottom: 35px;
    }
    .bad-block {
        padding: 53px 4.5px 55px 4.5px;
    }
    .bad-text span {
        font-weight: 300;
        font-size: 14px;
        line-height: 110%;
        margin-top: -9px;
        padding-right: 10px;
    }
    .bad-text {
        margin: 9px 0 0 16px;
    }
    .bad-text .img-wrap {
        margin-right: 20px;
    }
}