.top-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 698px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
    background-image: url(../img/top-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .btn-green {
        margin: 0 auto;
    }
}

.top-wrap--title {
    font-weight: 500;
    font-size: 50px;
    line-height: 107.5%;
    text-align: center;
    color: #23785b;
    span {
        display: block;
        font-weight: 300;
        color: #000;
        line-height: 107.5%;
        margin-bottom: 26px;
    }
}

@media screen and (max-width: 1366px) {
    .top-wrap {
        min-height: 550px;
    }
    .top-wrap--title {
        font-size: 42px;
        span {
            font-size: 38px;
        }
    }
}

@media screen and (max-width: 992px) {
    .top-wrap {
        min-height: 400px;
    }
    .top-wrap--title {
        font-size: 36px;
    }
    .top-wrap--title span {
        font-size: 38px;
    }
}

@media screen and (max-width: 550px) {
    .top-wrap {
        background-image: url(../img/header-mob.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 346px;
    }
    .top-wrap--title {
        font-weight: 500;
        font-size: 26px;
        line-height: 107.5%;
        padding: 0 39px;
        span {
            font-weight: 300;
            font-size: 26px;
            line-height: 107.5%;
        }
    }
    .top-wrap .btn-green {
        max-width: 179px;
    }
}