.decors {
    padding: 190px 0 189px 0;
    background: url(../img/decors-bg.jpg) no-repeat center;
    background-size: cover;
    .title-middle {
        text-align: left;
        margin-bottom: 21px;
    }
}

.green-title {
    font-weight: 300;
    font-size: 50px;
    line-height: 100%;
    color: #23785B;
}