.decors {
    padding: 190px 0 189px 0;
    background: url(../img/decors-bg.jpg) no-repeat center;
    background-size: cover;
    .title-middle {
        text-align: left;
        margin-bottom: 21px;
    }
}

.green-title {
    font-weight: 300;
    font-size: 50px;
    line-height: 100%;
    color: #23785B;
}

@media screen and (max-width: 1200px) {
    .decors {
        padding: 100px 0 100px 0;
    }
    .green-title {
        font-size: 42px;
    }
}

@media screen and (max-width: 900px) {
    .decors {
        padding: 45px 0 50px 0;
        .green-title {
            font-size: 36px;
        }
        .title-middle {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 700px) {
    .decors .green-title {
        font-size: 30px;
    }
    .decors .title-middle {
        font-size: 25px;
    }
}

@media screen and (max-width: 550px) {
    .decors {
        padding: 217px 0 50px 0;
        min-height: 547px;
        background: url(../img/decors-mob.jpg) no-repeat center;
        background-size: cover;
    }
    .decors .green-title {
        font-weight: 500;
        font-size: 26px;
        line-height: 110%;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 2px 10px #000000;
    }
    .decors .title-middle {
        font-weight: 300;
        font-size: 26px;
        line-height: 110%;
        margin-bottom: 14px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 2px 10px #000000;
    }
    .decors .title-middle br {
        display: none;
    }
    .decors .btn-green {
        margin: 0 auto;
    }
}